# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# HTML files
*.html*

# RStudio files
.Rproj.user/
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
